@model EntityLayer.Concrete.Students_Setler

@{
    ViewData["Title"] = "AdminAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<h1 style="font-weight: bold; text-align: center; color: #7e3af2;font-size:large;">ÖĞRENCİYE EĞİTİM SETİ EKLEME</h1>

<br />

@using (Html.BeginForm("StudentSetAdd", "Home", FormMethod.Post))
{
    <div style="color: #7e3af2;font-weight:bold;" class="form-group">
        @Html.Label("Öğrenci ID:")
        @Html.DropDownListFor(x => x.StudentID, (List<SelectListItem>)ViewBag.valuesStudent, new { placeholder ="Lütfen ÖğrenciId giriniz.", @class = "form-control" })
        <br />
        @Html.Label("Tanımlanacak Eğitim Setini Seçiniz:")
        @Html.DropDownListFor(x=>x.SetID, (List<SelectListItem>)ViewBag.valuesSet, new { @class = "form-control" })
        <br />
        <br />
        <button class="btn btn-success">EKLE</button>
    </div>
}